<tr ng-class="{matrix_row: !dashboard.row.show}" ng-repeat="row in search_result | filter:cacheTemplate track by $index">
    <td class="properties" ng-click="">{{row.name}}</td>
    <td class="properties" ng-click="">{{row.a_limit | currency:'RUB '}}</td>
    <td class="properties" ng-click="" ng-if="row.fact_premia===undefined">{{row.total_price | currency:'RUB '}}</td>
    <td class="properties red"  ng-click="" ng-if="row.fact_premia!==undefined">{{row.fact_premia | currency:'RUB '}}</td>
    <td class="properties" ng-click="">{{dashboard.pipeAmount(row.amount)}}</td>
    <td class="properties" ng-click="">{{row.date}}</td>
</tr>