<!-- версия 1.0.0
    <ul ng-repeat="param in currObj" ng-show="currentUl($index)" >
        <li ng-repeat="value in param.values">{{value.name}}</li>
    </ul>
    <nav>
        <a ng-repeat="param in currObj" ng-click="selectParam($index)" ng-style="navStyle">{{param.name}}</a>
    </nav>
-->
<!-- версия 1.0.1
<div class="dashboard_container">
    <div class="ul_container">
        <table ng-repeat="param in currObj" class="ul" ng-class="[{mi_current: currentUl($index)}, {mi_moveFromRight: currentUl($index)},{ mi_moveToRight: !currentUl($index)}]" ng-show="currentUl($index)" >
            <tbody>
                <tr>
                    <td ng-repeat="value in param.values" ng-click="value.type=='relocate_here'? relocate(value.urlTo): null">
                        {{value.type == "text" || value.type == "relocate_here" ? value.name : ""}}
                        <input ng-if="value.type == 'input'" type="text" placeholder="{{value.name}}">
                        <input ng-if="value.type == 'date'" type="date">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <table class="nav">
        <tbody>
            <tr>
                <td ng-repeat="param in currObj" ng-click="selectParam($index)" ng-if="param.name">{{param.name}}</td>
            </tr>
        </tbody>
    </table>
</div>
-->

<!-- версия 1.0.2 -->
<div class="dashboard_container">
    <div class="ul_container">
        <div ng-repeat="param in currObj" class="ul" ng-class="[{mi_current: currentUl($index)}, {mi_moveFromRight: currentUl($index)},{ mi_moveToRight: !currentUl($index)}]" ng-show="currentUl($index)" >
            <div>
                <div ng-repeat="value in param.values" ng-click="value.type=='relocate_here' ? relocateHere(value.urlTo) : value.type=='relocatePage' ? relocatePage(value.urlTo) : value.type=='reloadDashboard' ? reloadDashboard(value.json) : ''">
                    {{value.type == "text" || value.type == "relocate_here" || value.type =="relocatePage" || value.type=="reloadDashboard" ? value.name : ""}}
                    <input ng-if="value.type == 'input'" type="text" placeholder="{{value.name}}">
                    <input ng-if="value.type == 'input_search'" name="value.model" ng-model="value.val" ng-controller="searchCtrl" ng-change="isEmptyQuery(param.values) ? isEmptyObject(template) ? search(param.values, param.url) : checkTemplate(param.values) ? searchFilter(param.values) : search(param.values, param.url) : clean()" type="text" placeholder="{{value.name}}">
                    <input ng-if="value.type == 'date_search'" type="date">
                </div>
            </div>
        </div>
    </div>
    <div class="nav">
        <div>
            <div ng-repeat="param in currObj" ng-click="selectParam($index)" ng-if="param.name" ng-class="{mi_selected: currentUl($index)}">{{param.name}}</div>
        </div>
    </div>
</div>
<div id="tooltip_box" ng-show="config!='dashboard.json'" ng-click="reloadDashboard('dashboard.json')">
    <table style="text-align: center; width:100%; height:100%; ">
        <tbody>
        <tr>
            <td id="tooltip_box_td" style="color:rgb(230, 230, 230); font-size:30pt;">Вернуться</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="matrix_container" ng-controller="searchCtrl">
    <table class="matrix" ng-if="search_result_type=='find_company'">
        <tr ng-class="{matrix_row: !row.show}" ng-style="multiStyle(row, this)" class="animation" ng-repeat="row in search_result | filter:cacheTemplate track by $index">
            <td class="properties">{{row.name}}</td>
            <td class="properties" ng-if="isArray(row.contact)" ng-click="row.close!='disable' && row.show!=true ? row.show=true : null" colspan="{{row.show ? 2 : 1}}">
                <div ng-show="!row.show" ng-class="{multi_close : isMulti(row)}">{{row.contact[0].name}}</div>
                <div ng-repeat="ctx in row.contact track by $index" class="matrix_row multi_cell" style="line-height: 3; width: 100%; position: relative;" ng-show="row.show" ng-click="row.close!='disable' ? alert('загрузка контакта '+ ctx.name) : null">
                    <div style="display: inline-block; width: 49%;">{{ctx.name}}</div>
                    <div style="display: inline-block; width: 49%;">{{ctx.phone}}</div>
                    <div class="block" ng-if="$index==row.contact.length-1" ng-mouseover="row.close='disable'" ng-mouseleave="row.close='enable'" ng-click="row.close!='enable'? row.show=false : null"></div>
                </div>

            </td>
            <td class="properties" ng-if="!isArray(row.contact)">{{row.contact}}</td>
            <td class="properties"  ng-show="!row.show">{{row.company_phone}}</td>
            <td class="properties">{{row.Legal_address}}</td>
        </tr>
    </table>
    <table class="matrix" ng-if="search_result_type=='find_calculation'">
        <tr ng-class="{matrix_row: !row.show}" class="animation" ng-click="loadCalculation(row.id)" ng-style="multiStyle(row, this)" ng-repeat="row in search_result | filter:cacheTemplate track by $index">
            <td class="properties">{{row.name}}</td>
            <td class="properties">{{row.a_limit | currency:'RUB '}}</td>
            <td class="properties">{{row.total_price | currency:'RUB '}}</td>
            <td class="properties">{{row.amount}}</td>
            <td class="properties">{{row.date}}</td>
        </tr>
    </table>
</div>