<!-- версия 1.0.0
    <ul ng-repeat="param in currObj" ng-show="currentUl($index)" >
        <li ng-repeat="value in param.values">{{value.name}}</li>
    </ul>
    <nav>
        <a ng-repeat="param in currObj" ng-click="selectParam($index)" ng-style="navStyle">{{param.name}}</a>
    </nav>
-->
<!-- версия 1.0.1
<div class="dashboard_container">
    <div class="ul_container">
        <table ng-repeat="param in currObj" class="ul" ng-class="[{mi_current: currentUl($index)}, {mi_moveFromRight: currentUl($index)},{ mi_moveToRight: !currentUl($index)}]" ng-show="currentUl($index)" >
            <tbody>
                <tr>
                    <td ng-repeat="value in param.values" ng-click="value.type=='relocate_here'? relocate(value.urlTo): null">
                        {{value.type == "text" || value.type == "relocate_here" ? value.name : ""}}
                        <input ng-if="value.type == 'input'" type="text" placeholder="{{value.name}}">
                        <input ng-if="value.type == 'date'" type="date">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <table class="nav">
        <tbody>
            <tr>
                <td ng-repeat="param in currObj" ng-click="selectParam($index)" ng-if="param.name">{{param.name}}</td>
            </tr>
        </tbody>
    </table>
</div>
-->

<!-- версия 1.0.2 -->
<div class="dashboard_container">
    <div class="ul_container">
        <div ng-repeat="param in currObj" class="ul" ng-class="[{mi_current: currentUl($index)}, {mi_moveFromRight: currentUl($index)},{ mi_moveToRight: !currentUl($index)}]" ng-show="currentUl($index)" >
            <div>
                <div ng-repeat="value in param.values" ng-click="value.type=='relocate_here'? relocateHere(value.urlTo): value.type=='relocatePage'? relocatePage(value.urlTo):''">
                    {{value.type == "text" || value.type == "relocate_here" || value.type =="relocatePage" ? value.name : ""}}
                    <input ng-if="value.type == 'input'" type="text" placeholder="{{value.name}}">
                    <input ng-if="value.type == 'date'" type="date">
                    <input ng-if="value.type == 'input_search'" name="value.model" ng-model="value.val" ng-controller="searchCtrl" ng-change="isEmptyQuery(param.values) ? isEmptyObject(template) ? search(param.values, param.url) : checkTemplate(param.values) ? searchFilter(param.values) : search(param.values, param.url) : clean()" type="text" placeholder="{{value.name}}">
                </div>
            </div>
        </div>
    </div>
    <div class="nav">
        <div>
            <div ng-repeat="param in currObj" ng-click="selectParam($index)" ng-if="param.name">{{param.name}}</div>
        </div>
    </div>
</div>
<div class="matrix_container">
    <div class="matrix">

        <div ng-repeat="row in search_result | filter:cacheTemplate track by $index">
            <div class="properties">{{row.name}}</div>
            <div class="properties">{{row.contact}}</div>
            <div class="properties">{{row.company_phone}}</div>
            <div class="properties">{{row.Legal_address}}</div>

        </div>
    </div>
</div>