
<div class="container author">
    <h1>CHIMS</h1>
    <div ng-controller="loginCtrl"  class="login">
        <form action="/" id="myLogin" method="post">
            <input type="text" name="username" id="username" ng-model="username" placeholder="Username" required="required" class="input-txt"><br>
            <input type="password" name="password" id="password" ng-model="password" placeholder="Password" required="required" class="input-txt" ><br>
            <br>
            <button type="button" ng-click="submit()"  class="btn btn--right">Login</button>
        </form>
    </div>
</div>