<table class="matrix" ng-repeat="park in HIP.myFactory.parks track by $index" ng-init="parentIndex = $index">
    <tbody>
    <tr class="matrix_row" ng-repeat="process in park.processes track by $index">
        <td class="properties" ng-repeat="(key,value) in process track by $index" ng-if="dashboard.checkTransportProp(key)!=-1" ng-click="dashboard.loadProcess(process, key);">{{key=="wrapping" || key=="risk" ? value : dashboard.applyFilter(value, key) }}</td>
        <td class="properties" width="150px">{{process.totalPremia | number:0}}</td>
    </tr>
    </tbody>
</table>