<table class="matrix park" ng-repeat="park in HIP.myFactory.parks track by $index" ng-init="parentIndex = $index">
    <tbody>
    <tr class="matrix_row" ng-repeat="process in park.processes track by $index"
        ng-if="process.multi!==undefined && !process.multi.show && process.multi.processes.indexOf(process)==0 || process.multi===undefined || process.multi!==undefined && process.multi.show">
        <td class="properties btns" width="20px" ng-if="process.multi===undefined || process.multi.show">
            <div class="btnCopy" ng-click="dashboard.loadProcess(HIP.copy(process), 'risk')">+</div>
            <div class="btnDelete" ng-click="HIP.delete(process)">-</div>
        </td>
        <td class="properties" ng-class="{mi_selected : process.changing && dashboard.myFactory.document.currParam==dashboard.checkTransportProp(key)}"
            ng-repeat="(key,value) in process track by $index" ng-if="dashboard.checkTransportProp(key)!=-1 &&(process.multi===undefined || process.multi.show)"
            ng-click="dashboard.loadProcess(process, key);">{{key=="wrapping" || key=="risk" ? value : dashboard.applyFilter(value, key) }}</td>
        <td class="properties" width="150px" ng-if="process.multi===undefined || process.multi.show" ng-class="{red: process.practicalPriceKoef}">{{ dashboard.applyFilter(process.totalPrice, "cost") }}</td>



        <td class="properties btns" width="20px" ng-if="process.multi!==undefined && !process.multi.show  && !process.multi.show && process.multi.processes.indexOf(process)==0">
            <div class="btnCopy" style="background:red!important; color: white!important;">+</div>
            <div class="btnDelete" style="background:red!important; color: white!important;">-</div>
        </td>

        <td class="properties"  style="background:red!important;  color: white!important;" ng-class="{mi_selected : process.changing && dashboard.myFactory.document.currParam==dashboard.checkTransportProp(key)}"
            ng-repeat="(key,value) in process.multi track by $index" ng-if="dashboard.checkTransportProp(key)!=-1 && process.multi!==undefined && !process.multi.show && process.multi.processes.indexOf(process)==0"
            ng-click="!isNaN(process.multi.wrapping) && key=='wrapping' || key=='risk' && !isNaN(process.multi.risk) ? dashboard.console.log(key, dashboard.isNaN(process.multi[key])) : ''">{{value}}</td>

        <td class="properties" style="background:red!important;  color: white!important;" width="150px" ng-if="process.multi!==undefined && !process.multi.show  && !process.multi.show && process.multi.processes.indexOf(process)==0" ng-class="{red: process.practicalPriceKoef}">{{ dashboard.applyFilter(process.multi.price, "cost") }}</td>

    </tr>
    </tbody>
</table>