<table class="matrix" style="width: 1000px;
    table-layout: fixed;
    bottom: 0px;
    position: fixed;
    height: 50px;">
    <tbody>
    <tr class="matrix">
        <td class="properties">Премия</td>
        <td class="properties" style="color:red;">{{dashboard.applyFilter(dashboard.myFactory.totalPrice, "cost")}}</td>
        <td class="properties">{{dashboard.applyFilter(dashboard.myFactory.totalAmount, "amount")}}</td>
        <td class="properties">Агрегатный лимит</td>
        <td class="properties">{{a_limit}}</td>
        <td><input type="text" ng-model="dashboard.myFactory.a_limit"></td>
        <td ng-model="dashboard.myFactory.a_limit"></td>
        <td class="properties">Этапов: <input type="number"></td>

        <td class="properties">{{payment}}</td>
    </tr>
    </tbody>
</table>