<table class="matrix bottom" style="width: 1000px;
    table-layout: fixed;
    bottom: 0px;
    position: fixed;
">
    <tbody>
    <tr class="matrix">
        <td class="properties button">Премия</td>
        <td class="properties" style="color:red;">{{dashboard.applyFilter(dashboard.myFactory.totalPrice, "cost")}}</td>
        <td class="properties button">{{dashboard.applyFilter(dashboard.myFactory.totalAmount, "amount")}}</td>
        <td class="properties button" ng-click="dashboard.myFactory.a_limit.changeType()">{{dashboard.myFactory.a_limit.type}}</td>
        <td><input type="text" ng-model="dashboard.myFactory.a_limit.value" currency-input="a_limit" ng-class="{hand: dashboard.myFactory.a_limit.hand}"></td>
        <td ng-model="dashboard.myFactory.a_limit"></td>
        <td class="properties">Этапов: <input type="number"></td>

        <td class="properties">{{payment}}</td>
    </tr>
    </tbody>
</table>