
<div class="ul_container">
    <div ng-repeat="param in dashboard.currObj" class="ul" ng-class="[{mi_current: dashboard.currentUl($index)}, {mi_moveFromRight: dashboard.currentUl($index)},{ mi_moveToRight: !dashboard.currentUl($index)}]" ng-show="dashboard.currentUl($index)" >
        <div>
            <div key="{{dashboard.addNumberKey(value, param)}}" ng-class="[{mi_selected: value.selected},{keyFriendly : dashboard.myFactory.foc}]" ng-repeat="value in param.values" ng-click="value.type=='relocate_here' ? dashboard.relocateHere(value.urlTo) : value.type=='relocatePage' ? dashboard.relocatePage(value.urlTo) : value.type=='reloadDashboard' ? dashboard.reloadDashboard(value.json,value.matrix) : value.type=='text' || value.type=='currency' || value.type=='amount' || value.type=='risk' ? dashboard.calc.clicked(param, value) : value.type=='amountType' ? dashboard.myFactory.changeAmountType() : '' ">
                {{value.type == "text" || value.type == "relocate_here" || value.type =="relocatePage" || value.type=="reloadDashboard" || value.type=="risk" ? value.name : value.type=="currency" || value.type=="amount" ? dashboard.applyFilter(value) : value.type=="amountType" ? dashboard.myFactory.amountType : ""}}
                <input ng-if="value.type == 'inputForCurrency'" ng-focus="dashboard.myFactory.foc=false" ng-blur="dashboard.myFactory.foc=true" type="text" param="{{param.model}}" ng-model="param.selected" placeholder="{{value.name}}" style="color: #35bfff;" currency-input="{{param}}">
                <input ng-if="value.type == 'input'" type="text"  ng-focus="dashboard.myFactory.foc=false" ng-blur="dashboard.myFactory.foc=true"  ng-value="value.selected" placeholder="{{value.name}}" style="color: #35bfff;">
                <input ng-if="value.type == 'input_search'"  ng-focus="dashboard.myFactory.foc=false" ng-blur="dashboard.myFactory.foc=true" name="value.model" ng-model="value.val" ng-controller="searchCtrl as searchCtrl" ng-change="searchCtrl.isEmptyQuery(param.values) ? searchCtrl.isEmptyObject(searchCtrl.template) ? searchCtrl.search(param.values, param.url) : searchCtrl.checkTemplate(param.values) ? searchCtrl.searchFilter(param.values) : searchCtrl.search(param.values, param.url) : searchCtrl.clean()" type="text" placeholder="{{value.name}}">
                <input ng-if="value.type == 'date_search'"  ng-focus="dashboard.myFactory.foc=false" ng-blur="dashboard.myFactory.foc=true" type="date">
            </div>
        </div>
    </div>
</div>
<div class="nav">
    <div>
        <div key="{{dashboard.addQwertyKey($index)}}" ng-repeat="param in dashboard.currObj" ng-click="dashboard.selectParam($index)" ng-if="param.name" ng-class="[{mi_selected: dashboard.currentUl($index)}, {alreadySelected : dashboard.alreadySelected(param.model)},{keyFriendly : dashboard.myFactory.foc}]">{{param.selected ? param.model=="amount" ? dashboard.applyFilter(param.selected, "badAssAmount") : dashboard.applyFilter(param.selected,param.model) : param.name}}</div>
    </div>
</div>
