
    <div class="ul_container">
        <div ng-repeat="param in currObj" class="ul" ng-class="[{mi_current: currentUl($index)}, {mi_moveFromRight: currentUl($index)},{ mi_moveToRight: !currentUl($index)}]" ng-show="currentUl($index)" >
            <div>
                <div ng-repeat="value in param.values" ng-click="value.type=='relocate_here' ? relocateHere(value.urlTo) : value.type=='relocatePage' ? relocatePage(value.urlTo) : value.type=='reloadDashboard' ? reloadDashboard(value.json) : ''">
                    {{value.type == "text" || value.type == "relocate_here" || value.type =="relocatePage" || value.type=="reloadDashboard" ? value.name : ""}}
                    <input ng-if="value.type == 'input'" type="text" placeholder="{{value.name}}">
                    <input ng-if="value.type == 'input_search'" name="value.model" ng-model="value.val" ng-controller="searchCtrl" ng-change="isEmptyQuery(param.values) ? isEmptyObject(template) ? search(param.values, param.url) : checkTemplate(param.values) ? searchFilter(param.values) : search(param.values, param.url) : clean()" type="text" placeholder="{{value.name}}">
                    <input ng-if="value.type == 'date_search'" type="date">
                </div>
            </div>
        </div>
    </div>
    <div class="nav">
        <div>
            <div ng-repeat="param in currObj" ng-click="selectParam($index)" ng-if="param.name" ng-class="{mi_selected: currentUl($index)}">{{param.name}}</div>
        </div>
    </div>
